#page {
  font-family: Helvetica-Neue, sans-serif;
  background-image: linear-gradient(to right, #cfd9df, #e2ebf0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

header {
  background: black;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 20px;
}

header::before,
header::after {
  content: " ";
  display: table;
  clear: both;
}

.menu-button {
  border: none;
  background-color: black;
  font-size: 16px;
  color: white;
  cursor: pointer;
  outline: none;
  padding-right: 100px;
}

#grid {
  border: 1px solid black;
  table-layout: fixed;
  overflow: hidden;
}

.preview-block {
  border: 1px solid black;
}

#game {
  display: flex;
}
